/* general */
body{
	margin: 0px;
}
*{
	font-family: monospace;
}

/* svg styling */
.square{
	/* stroke-width: 2px;
	stroke: black; */
	height: 100px;
	width: 100px;
}
.piece{
	height: 100px;
	width: 100px;
	cursor: pointer;
    transition: 0.5s cubic-bezier(0.50, 0, 0.15, 1);
}
.pointer{
	cursor: pointer;
}

/* general */
.title{
    font-size: 92px;
    margin: 0px;
	margin-top: 10px;
    text-align: center;
	user-select: none;
    white-space: nowrap;
}
.board-container{
    margin-top: 70px;
    width: 802px;
    margin: auto;
}
#board{
}

/* error */
.error{
	text-align: center;
    color: white;
    font-size: 26px;
    margin-top: 0px;
    height: 20px;
}

/* overlay */
.promotion-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: none;
}
.promotion-image{
	width: 100%;
    height: 100%;
}
.promotion-image:hover{
	background-color: orange;
	cursor: pointer;
}
.promotion-item{
	width: 140px;
    height: 140px;
    background-color: white;
}
.promotion-container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 40vh;
}

/* legend */
.legend-container{
    margin-top: 50px;
}
.legend-color{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: red;
}
.legend-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.legend-text{
    margin: 0px;
    font-size: 26px;
    width: 133px;
    text-align: center;
}
.legend-text-divider{
    margin: 0px;
    font-size: 23px;
    padding: 0px 10px 0px 10px;
}
.divider{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid lightgray;
}
.legend-title{
    font-size: 30px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}
.legend-item-row{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}