/* general */
body{
	margin: 0px;
}
*{
	font-family: monospace;
}

/* svg styling */
.square{
	/* stroke-width: 2px;
	stroke: black; */
	height: 100px;
	width: 100px;
}
.piece{
	height: 100px;
	width: 100px;
	cursor: pointer;
}
.pointer{
	cursor: pointer;
}

/* general */
.title{
    font-size: 92px;
    margin: 0px;
	margin-top: 10px;
    text-align: center;
	user-select: none;
}
#board{
	margin-top: 70px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%);
}

/* error */
.error{
	text-align: center;
    color: #ff3838;
    font-size: 25px;
    margin-top: 8px;
}