/* general */
body{
	margin: 0px;
}

@media (max-width:650px) { 
    body{
        display: inline-block;
    }
}

*{
	font-family: monospace;
}

/* svg styling */
.square{
	/* stroke-width: 2px;
	stroke: black; */
}
.piece{
	cursor: pointer;
    transition: 0.5s cubic-bezier(0.50, 0, 0.15, 1);
}
.pointer{
	cursor: pointer;
}

/* general */
.title{
    font-size: 70px;
    margin: 0px;
	margin-top: 10px;
    text-align: center;
	user-select: none;
    white-space: nowrap;
}
.chess-bot{
    height: 100px;
    image-rendering: pixelated;
    padding-left: 20px;
}
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.board-container{
    display: flex;
    width: fit-content;
    margin: auto;
}
.flip{
    transform: rotate(180deg);
}
.flip-piece{
    transform: rotate(180deg);
    transform-box: fill-box;
    transform-origin: center;
}
.stats{
    text-align: center;
    color: black;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

/* error */
.error{
	text-align: center;
    color: #ff5b5b;
    font-size: 26px;
    margin-top: 0px;
    height: 20px;
}

/* overlay */
.promotion-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: none;
}
.promotion-image{
	width: 100%;
    height: 100%;
}
.promotion-image:hover{
	background-color: orange;
	cursor: pointer;
}
.promotion-item{
	width: 140px;
    height: 140px;
    background-color: white;
}
.promotion-container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 40vh;
}

/* legend */
.legend-container{
    margin-top: 50px;
}
.legend-color{
    width: 22px;
    height: 22px;
    border: 1px solid black;
    background-color: red;
}
.legend-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.legend-text{
    margin: 0px;
    font-size: 19px;
    width: 105px;
    text-align: center;
}
.legend-text-divider{
    margin: 0px;
    font-size: 17px;
    padding: 0px 10px 0px 10px;
}
.divider{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid lightgray;
}
.legend-title{
    font-size: 26px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}
.legend-item-row{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* moves */
.white{
    color: rgb(201, 201, 201);
}
.black{
    color: rgb(63, 63, 63);
}
.moves{
    display: flex;
    justify-content: center;
    font-size: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.move-item{
    padding: 0px 5px 0px 5px;
}

/* footer */
.footer{
    padding-left: 5px;
    font-size: 13px;
    margin-top: 40px;
}

/* overlay */
.victory-overlay{
    font-size: 30px;
    height: 50px;
    width: 250px;
    background-color: #ffffffb8;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 10;
    display: none;
}
.victory-overlay-container{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 380px;
    position: fixed;
}

/* timer */
.timer-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}
.timer {
    width: 200px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}